crash-reports/
saves/
logs/
resourcepacks/
screenshots/
texturepacks/
backups/
icon.png
options.txt
usernamecache.json
rename_me.zip
blendercraft_1.0.zip
servers.dat
blendercraft_2.0.zip
blendercraft_2.0_to_3.0_patch.zip
blendercraft_3.0_full.zip
